/* General Formatting */
*{
    font-family: "Lancelot", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    color:#000000;
}

h1, h2{
    /* font-family: "Gayathri", sans-serif; */
    letter-spacing: 1px;
}

p{
    font-size: 30px;
}

section {
    display: flex;
    flex-direction: column;
    padding: 120px 0px;
    gap: 48px;
}
section h2 {
    font-size: 64px;
    font-weight: 700;
}
section h3{
    font-size: 48px;
    font-weight: 400;
}
.heading, .content{
    position: relative;
    width: 70%;
    left: 15%;
    display: flex;
    flex-direction: column;
}
.heading {
    align-items: center;
    text-align: center;
}
.content{
    width: Fill(1,920px);
    height: auto;
    gap: 48px;
}

/* Heading & Nav */
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
    position: sticky;
    top: 0;
    z-index: 1000;
    font-size: 2em;
    align-items: center;
    background-color: #F6F3ED;
}
header.scrolled {
    border-bottom: 1px solid rgba(35, 16, 41, 0.3);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);
}
header a{
    text-decoration: none;
    color: #000000;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px #757575;
}
#navlist{
    display: flex;
    list-style-type: none;
    gap: 25px;
    float: right;
    padding: 15px 0px 0px 0px;
    align-items: center;
}
#navlist a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
} 
#navlist li .viewing {
    text-decoration: underline;
    text-underline-offset: 5px;
}
#navlist .navburger{
    /* all: unset; */
    background-color:inherit;
    border: none;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

#title{
    padding: 24px 0 24px 20px;
}

/* Home Section */
#home {
    height: 80vh;
    color: #ffffff;
    /* justify-content: center; */
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F6F3ED;
}
#home h1{
    font-size: 120px;
    font-weight: 800;
}
#home p{
    font-size: 40px;
}
.home-heading{
    position: relative;
    width: 50%;
    left: 15%;
    display: flex;
    flex-direction: column;
    padding-right: 10%;
}
#favicon{
    position: absolute;
    right: 25%;
    top: 18%;
    padding-left: 10%;
}
#img-left, #img-right, #img-top{
    position: absolute;
    top: 0;
    left: 0;
    border: #694ea3 solid 4px;
}
#img-left, #img-right{
    z-index: 1;
}
#img-top{
    z-index: 2;
}
#img-right{
    transform: rotate(7deg);
    transform-origin: 10% 150%;
    opacity: 0.8;
}
#img-left {
    transform: rotate(-7deg);
    transform-origin: 90% 100%;
    opacity: 0.8;
}

/* About Section */
#about{
    background-color: #DFC7F4;
}
#abtme {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
}
#abtme img{
    height: 600px;
    width: auto;
    position: relative;
    /* right: 15%; */
}
#abtme h2{
   padding-bottom: 20px;
 }
 #bio{
  position:relative;
  width: 90%;
  left: 10%;
  text-align: left;
 }


/* Experience Section */
#comics .button{
    padding: 2%;
    border: none;
}
#langlists{
    display: flex;
    flex-direction: row;
}
#comics{
    background-color: #F6F3ED;
    height: 170vh;
}
.content-animation{
    position: absolute;
    /* justify-content: center; */
    left: 25%;
    padding-left: 5%;
    top: 215%;
}
.anim{
    position: absolute;
}
#still{
    position: absolute;
    z-index: 4;
}
#still:hover{
    opacity: 0.1;
}
#p1{
    position:absolute;
    height: 420px;
    top: 40px;
}
#p2{
    position:absolute;
    height: 420px;
    top: 430px;
}
/* #favicon{
    position: absolute;
    right: 25%;
    top: 18%;
    padding-left: 10%;
}
#img-left, #img-right, #img-top{
    position: absolute;
    top: 0;
    left: 0;
    border: #694ea3 solid 4px;
}
#img-left, #img-right{
    z-index: 1;
}
#img-top{
    z-index: 2;
}
#img-right{
    transform: rotate(7deg);
    transform-origin: 10% 150%;
    opacity: 0.8;
}
#img-left {
    transform: rotate(-7deg);
    transform-origin: 90% 100%;
    opacity: 0.8;
} */


/* Projects Section */
#art{
    background-color: #DFC7F4;
}
.tools{
    display: flex;
    gap: 15px;
    align-items: center;}
    
.button{
    /* background-color: rgba(192, 19, 100, 0.61); */
    background-color: #AE9ADA;
    border-width: .5px;
    border-radius: 9999px;
    color: #ffffff;
    cursor: pointer;

    width:max-content;
    height: min-content;

    margin-bottom: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.button:hover, .button:focus{
    background-color: #8f78c0;
}
.content-heading{
    display: flex;
    gap: 25px;
    align-items: center;
}
.content-heading i{
    color: #303030;
    margin-bottom: 16px;
}
.content-heading i:hover{
    color: rgb(190, 19, 99);
}
.content-heading i:focus{
    color: rgb(190, 19, 99);
}


/* Contact Section */
#dev{
    background-color: #F6F3ED;
}
#row{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    gap: 45px;
 }
#row div{
    width: 250px;
  }
 #dev .content{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-content: center;
    justify-content: center;
    align-items: center;
 }



/* Footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    padding: 34px 96px;
    /* padding: 1%; */
    background-color: #D260A5;
}

footer p{
    color: #ffffff;
    letter-spacing: 1px;
}

footer #footerlinks {
    display: flex;
    gap: 24px; 
    text-shadow: 1px 1px 9px #4e4e4e;
}
  
  footer #footerlinks i {
    color: #ffffff;
}

/* @media (max-width: 1500px) {
    .section-heading,
    .section-details {
        width: 70%;
        left: 15%;
    }
} */

  @media (max-width: 1000px) {
    .heading,
    .content {
      width: 70%;
      left: 15%;
    }
    .home-heading {
        width: 70%;
        left: 10%;
    }
    #favicon{
        right: 10%;
    }
  }
  @media (max-width: 800px) {
    #home{
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .home-heading{
       text-align: center;
       left:0;
       padding:0;
    }
    #favicon{
        right: 0;
        padding: 0;
    }
  }
  @media (max-width: 700px){
    .nav li:not(:last-child) {
        display: none;
    }
    .nav li:last-child{
        display: contents;
    }
  }
  @media (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive li.navburger {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive li {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  /* TODO: make navburger work */